<div class="overlay-wrapper">
    <div class="overlay" style="display:none">
      <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      <!--div-- class="text-bold pt-2">Loading...</!--div-->
    </div>
</div>